<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>articleCount</key>
		<string>63901</string>
		<key>topicCount</key>
		<string>280974</string>
		<key>icon</key>
		<string>yazhouwuma</string>
		<key>title</key>
		<string>亞洲無碼原創區</string>
		<key>subTitle</key>
		<string>自由發布亞洲最新無修正資訊片 亞洲無碼AV大聯盟</string>
		<key>url</key>
		<string>thread0806.php?fid=2</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>502459</string>
		<key>topicCount</key>
		<string>281715</string>
		<key>icon</key>
		<string>yazhouyouma</string>
		<key>title</key>
		<string>亞洲有碼原創區</string>
		<key>subTitle</key>
		<string>自由發布亞洲最新有修正資訊片</string>
		<key>url</key>
		<string>thread0806.php?fid=15</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>502175</string>
		<key>topicCount</key>
		<string>191755</string>
		<key>icon</key>
		<string>oumei</string>
		<key>title</key>
		<string>歐美原創區</string>
		<key>subTitle</key>
		<string>自由發布純正的歐美成人資訊片</string>
		<key>url</key>
		<string>thread0806.php?fid=4</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>145218</string>
		<key>topicCount</key>
		<string>32054</string>
		<key>icon</key>
		<string>dongman</string>
		<key>title</key>
		<string>動漫原創區</string>
		<key>subTitle</key>
		<string>自由發布任何H動畫漫畫</string>
		<key>url</key>
		<string>thread0806.php?fid=5</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>135413</string>
		<key>topicCount</key>
		<string>62109</string>
		<key>icon</key>
		<string>guochan</string>
		<key>title</key>
		<string>國產原創區</string>
		<key>subTitle</key>
		<string>自由發布純正的國產成人，三級資訊片</string>
		<key>url</key>
		<string>thread0806.php?fid=25</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>149758</string>
		<key>topicCount</key>
		<string>202147</string>
		<key>icon</key>
		<string>zhongzi</string>
		<key>title</key>
		<string>中字原創區</string>
		<key>subTitle</key>
		<string>自由發布各類中文字幕成人資訊片</string>
		<key>url</key>
		<string>thread0806.php?fid=26</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>8918</string>
		<key>topicCount</key>
		<string>6976</string>
		<key>icon</key>
		<string>zhuantie</string>
		<key>title</key>
		<string>轉帖交流區</string>
		<key>subTitle</key>
		<string>轉貼，舊作，加速</string>
		<key>url</key>
		<string>thread0806.php?fid=27</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>21432</string>
		<key>topicCount</key>
		<string>16119</string>
		<key>icon</key>
		<string>download</string>
		<key>title</key>
		<string>HTTP下載區</string>
		<key>subTitle</key>
		<string>自由發布各類HTTP/Ray/eMule等方式下載</string>
		<key>url</key>
		<string>thread0806.php?fid=21</string>
	</dict>
	<dict>
		<key>articleCount</key>
		<string>46841</string>
		<key>topicCount</key>
		<string>33874</string>
		<key>icon</key>
		<string>onlineMovie</string>
		<key>title</key>
		<string>在綫成人影院</string>
		<key>subTitle</key>
		<string>在綫欣賞,即點即看</string>
		<key>url</key>
		<string>thread0806.php?fid=22</string>
	</dict>
</array>
</plist>
